<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>Comment: <%= @comment.comment %></p> by
    <p><%=@comment.user_name%></p>

  </body>
</html>
