<section class="full-screen">
<header class="twitter-header">
<div class="follow-me">
<a href="https://twitter.com/Bellam_3415?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @Bellam_3415</a>
</div>
<div style="display:flex">
<nav>
<a href="<%= root_path%>">Home</a>
</nav>
<h4>Welcome, To  My Tweets! </h4>

</div>
</header>
<section class="display-tweets">
<a class="twitter-timeline" href="https://twitter.com/Bellam_3415?ref_src=twsrc%5Etfw">Tweets by Bellam_3415</a>
     <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</section>
</section>
